config = {
  os_cloud_name = "scs1"
  private_key_pem = "/pathtoyour/consul-agent-ca-key.pem"
  certificate_pem = "/pathtoyour/consul-agent-ca.pem"
  keypair         = "/pathtoyour/publickey/ssh.pub"
  connkey         = "/pathtoyour/privatesshkey/id_rsa"
  instance_network_uuid = "yournetworkuuid"
  instance_subnet_uuid = "yoursubnetworkuuid"
  vipnet_uuid     = "yourvipnetuuid"
  lbaccess        = ["cidr-with-access-to-lb", "another-cidr-with-access-to-lb"]
  flavor_name     = "SCS-16V:64:100"
  bastionhost     = "ipofyourbastionhost"
  os_domain_name  = "youropenstackdomain"
  os_region       = "youropenstackregion"
  os_domain       = "youropenstackdomain"
  os_project      = "youropenstackproject"
  pmmpasswd       = "yourpmmadminpassword"
  pmmip           = "yourpmmipaddress"
  vm = { 
    replicas = "3"
  }
  organization = { 
    name = "yourorganisation"
  }
  certificate_authority = { 
    algorithm = "aes256"
  }
  image_version = 2023061601
  consul_datacenter_name = "scs1"
  consul_encryption_key = "yourconsulserverencryptionkey"
  consul_scope = "ascope"
  consul_namespace = "anamespace"
}
